.menu li.active a {
    border-radius: 6px;
    padding: 25px;
    margin-top: 4px;
    color: dodgerblue !important;
    transition: transform 450m cubic-bezier(0.6, 0.28, 0.74, 0.05);
    transform: unset;
    background: unset;
}

.menu {
    list-style-type: none;
    display: flex;
    /*justify-content: space-evenly;*/
    margin-bottom: 0;
    margin-top: 0;
    /*position: relative;*/
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #FDCD06;
}

.menu a {
    display: block;
    padding: 50px;
    text-decoration: none;
    font-weight: 500;
    font-family: Lato, Verdana, san-serif;
    text-transform: uppercase;
    color: #7f6703;
    font-size: .75rem;
}