.menu li.active a {
    border-radius: 6px;
    padding: 25px;
    margin-top: 4px;
    color: dodgerblue !important;
    transition: transform 450m cubic-bezier(0.6, 0.28, 0.74, 0.05);
    transform: unset;
    background: unset;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    /*border-bottom: 1px solid #FDCD06;*/
    border-bottom: 1px solid #ff770f;
}

.menu a {
    display: block;
    padding: 45px;
    padding-right: 65px;
    padding-left: 65px;
    text-decoration: none;
    font-weight: 500;
    font-family: Lato, Verdana, san-serif;
    text-transform: uppercase;
    color: #545454;
    font-size: .75rem;
}

#menuToggle {
    display: none;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/*
  * Just a quick hamburger
  */

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


/*
  * But let's hide the middle one.
  */

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


/*
  * Ohyeah and the last one should go the other direction
  */

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


/*
  * Make this absolute positioned
  * at the top left of the screen
  */

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}


/*
  * And let's slide it in from the left
  */

#menuToggle input:checked~ul {
    transform: none;
}

@media all and (max-width:768px) {
    #menuToggle {
        display: block;
        left: 10px;
        top: 7px;
    }
    .menu {
        display: none;
    }
    #menu {
        width: 226px;
        /*width: 194px;*/
        padding-top: 105px;
        /*background: #ffffff;*/
        background: #1a2b36 !important;
    }
    #menu li {
        padding: 30px 0;
        font-size: 15px;
        font-family: 'Lato', Verdana, san-serif;
    }
    #menuToggle span {
        width: 26px;
        height: 2px;
    }
    #menu hr {
        border-top: 0px solid rgb(212, 209, 209);
        /*width: 225px;*/
        width: 255px;
    }
    #menuToggle input:checked~span {
        background: #cdcdcd !important;
    }
    #menuToggle a {
        color: #ffffff;
    }
}