<ul class="menu">
    <li><a class="nav-link link text-black display-7" href="/home">Home</a></li>
    <li><a class="nav-link link text-black display-7" href="/about-us">About Us</a></li>
    <li><a class="nav-link link text-black display-7" href="/contact-form">Contact Form</a></li>
    <li><a class="nav-link link text-black display-7" href="/become-a-cook">Learn How To Become A Cook</a></li>
    <li><a class="nav-link link text-black display-7" href="/faq">FAQ</a></li>
    <li><a class="nav-link link text-black display-7" href="/contact-us">Contact Us</a></li>
</ul>