.menu li.active a {
    border-radius: 6px;
    padding: 25px;
    margin-top: 4px;
    color: dodgerblue !important;
    transition: transform 450m cubic-bezier(0.6, 0.28, 0.74, 0.05);
    transform: unset;
    background: unset;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    position: fixed;
    z-index: 1;
    width: 1293px;
    top: 0;
    background-color: #ffffff;
    /*border-bottom: 1px solid #FDCD06;*/
    border-bottom: 1px solid #ff770f;
}

.menu a {
    display: block;
    padding: 45px;
    padding-right: 65px;
    padding-left: 65px;
    text-decoration: none;
    font-weight: 500;
    font-family: Lato, Verdana, san-serif;
    text-transform: uppercase;
    color: #545454;
    font-size: .75rem;
}