.ftr-ptn {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 1293px;
    text-align: center;
    padding: 40px 20px 30px;
    /*border-top: solid 1px #FDCD06;*/
    border-top: 1px solid #ff770f;
    padding-bottom: 30px;
    background-color: white;
}

.footer-fixed {
    width: 1517px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-fixed a {
    text-decoration: none;
    color: #545454;
    padding: 34px 150px 15px 57px;
}