.ftr-ptn {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 40px;
    border-top: solid 1px #FDCD06;
    padding-bottom: 30px;
    background-color: white;
}

.footer-fixed {}

.footer-fixed a {
    text-decoration: none;
    color: #7f6703;
    padding: 34px 22px 15px 68px;
}