.ftr-ptn {
    /*position: relative;
    top: 3720px;*/
    bottom: 0;
    text-align: center;
    padding: 40px 20px 30px;
    /*border-top: solid 1px #FDCD06;*/
    border-top: 1px solid #ff770f;
    padding-bottom: 15px;
    background-color: white;
}

.footer-fixed {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-fixed a {
    text-decoration: none;
    color: #545454;
    padding: 34px 150px 15px 57px;
}