.container-04 {
    /* padding-left: 200px;
    margin: 130px;*/
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

.container-04 h1 {
    color: #648D3C;
    font-size: 1.375rem;
    font-weight: 400;
    font-family: 'Lato', Verdana, san-serif;
}

.cnt-frm-btn {
    background: radial-gradient(rgb(6, 147, 227) 0%, rgb(155, 81, 224) 0%);
    display: inline-block;
    margin: 26px 0 0 0;
    padding: 13px 62px;
    border: none;
    border-radius: 30px;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
    margin-left: 194px;
}

.img-bg-dsg img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 160vh;
    object-fit: cover;
    opacity: 0.2;
}

.frm-inp-st input {
    display: flex;
    border: 1px solid #ececec;
    border-radius: 5px;
    /*padding: 10px 30px;*/
    width: 100%;
    height: 40px;
    margin: 0;
    font-family: 'Lato', Verdana, san-serif;
    font-size: 13px;
    line-height: inherit;
    overflow: visible;
    outline: none;
    padding-left: 10px;
}

.frm-inp-st input:hover {
    border: 1px solid dodgerblue !important;
}

.chk-alg {
    /*position: relative;
    right: 255px;
    top: 16px;*/
    right: 0;
    width: 37px !important;
    display: inherit;
    padding: 0;
    top: 0;
}

.chk-bx-cnt {
    color: #545454;
    width: 545px;
}

.chk-alg-lbl {
    /* position: relative;
    left: 30px;*/
    color: #545454;
}

textarea {
    width: 100%;
    height: 100px;
    color: #545454;
    outline: none;
}

textarea:hover {
    border: 1px solid dodgerblue;
}

.frm-inp-st p {
    width: 69%;
    color: #545454;
}

.inp1 {
    /* width: 49% !important;
    position: relative;
    top: 18px;
    float: left;*/
    width: 48% !important;
    position: relative;
    top: 40px;
}

.inp2 {
    /* position: relative;
    width: 48% !important;
    left: 10px;*/
    position: relative;
    width: 48% !important;
    left: 13px;
    bottom: 23px;
    float: right;
}

.container {
    background: #f5f5f5;
    padding-top: 1px;
    padding-bottom: 1px;
}

.slc-opt {
    border: 1px solid #ececec;
    border-radius: 5px;
    /*padding: 10px 30px;*/
    height: 40px;
    background: #fcfcfc;
    width: 100%;
    margin: 0;
    font-family: 'Lato', Verdana, san-serif;
    font-size: 13px;
    line-height: inherit;
    /* padding-left: 10px;*/
    color: #545454;
}

select:focus {
    border: 1px solid dodgerblue;
}

.lbl-slc {
    color: #545454;
    font-weight: 400;
    font-size: 13px;
}