.container-04 {
    /* position: relative;
    float: right;
    bottom: 1050px;*/
    /* padding-right: 200px;*/
    padding-left: 200px;
    margin: 130px;
}

.container-04 h1 {
    color: #648D3C;
    font-size: 1.375rem;
    font-weight: 400;
    font-family: 'Lato', Verdana, san-serif;
}

.cnt-frm-btn {
    background: radial-gradient(rgb(6, 147, 227) 0%, rgb(155, 81, 224) 0%);
    display: inline-block;
    margin: 26px 0 0 0;
    padding: 13px 62px;
    border: none;
    border-radius: 30px;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
    margin-left: 194px;
}

.img-bg-dsg img {
    background-size: cover;
    /*background-position: center center;*/
    background-repeat: no-repeat;
    width: 100%;
    /*height:100%*/
    height: 160vh;
    object-fit: cover;
    opacity: 0.2;
    /* background-image: url('../../assets/home-page-image-white-01.png');*/
}

.frm-inp-st input {
    display: flex;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 10px 30px;
    /* background: #fcfcfc;*/
    width: 60%;
    margin: 0;
    font-family: 'Lato', Verdana, san-serif;
    font-size: 13px;
    line-height: inherit;
    overflow: visible;
    padding-left: 10px;
}

.frm-inp-st input:hover {
    border: 1px solid dodgerblue !important;
}

.chk-alg {
    position: relative;
    right: 255px;
    top: 16px;
}

.chk-alg-lbl {
    position: relative;
    left: 30px;
    color: #545454;
}

textarea {
    width: 64%;
    height: 100px;
    color: #545454;
}

textarea:hover {
    border: 1px solid dodgerblue;
}

.frm-inp-st p {
    width: 69%;
    color: #545454;
}

.inp1 {
    width: 27% !important;
    position: relative;
    top: 56px;
}

.inp2 {
    position: relative;
    width: 27% !important;
    left: 287px;
}

.container {
    background: #f5f5f5;
    padding-top: 1px;
    padding-bottom: 1px;
}

.slc-opt {
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 10px 30px;
    background: #fcfcfc;
    width: 65%;
    margin: 0;
    font-family: 'Lato', Verdana, san-serif;
    font-size: 13px;
    line-height: inherit;
    /*overflow: visible;*/
    padding-left: 10px;
    color: #545454;
}

select:focus {
    border: 1px solid dodgerblue;
}

.lbl-slc {
    color: #545454;
    font-weight: 400;
    font-size: 13px;
}