<app-header></app-header>
<app-footer>
</app-footer>
<!--<section class="hd-01-alc">
    <img class="pic-agn" width="100%" height="30%" src="./assets/Hero_Foodshot-Option4.png">
</section>
<section class="container-01">
    <span class="cl-fnt-01">Why We Started Kookxtra</span>
    <span class="alg-pg-fs">The idea for Savorly came to us at our own dinner table. It was yet another amazing meal prepared by the best cook in the world—Mom. As we were finishing up, an interesting thought started working its way around the dining room: “Wouldn’t it be great if other people could taste Mom’s food? What if she opened her own little food business, right from our kitchen?”<br/><br/>

        We knew we weren’t alone. ‘Moms’ exists across the world, cooking up the best homemade dishes you never knew about. We created Savorly to introduce ‘Mom’ to the world, and the world to ‘Mom.’</span>

</section>
<section>
    <span class="cl-fnt-02">What Drives Us</span>
    <span class="alg-pg-se">We’re passionate about bringing homemade meals back into people’s lives, and dedicated to helping home cooks to start their own small businesses on Savorly. More and more, people seek alternatives to commercial food options, and we’re on a mission to help hungry eaters find real food from real home cooks. Get ready-to-eat homemade dishes from around the world, prepared by cooks who live just down the street.
    </span>
</section>
<section class="container-03">
    <div class="cl-fnt-03">
        Excited for Home Cooked Meals On Demand?
    </div>
    <button class="btn-dsn">SIGN UP FOR MORE INFO</button>
</section>-->
<section class="container-01">
    <span class="cl-fnt-01">Why We Started Kookxtra</span>
    <span class="alg-pg-fs">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

      </span>
</section>