<app-header></app-header>
<app-footer>
</app-footer>
<section class="container">
    <section class="container-01">
        <span class="cl-fnt-01">SavorlyApp.com General Privacy Policy</span>
        <span class="cnt-o1-stl">Effective: 2018-01-12</span>
        <span class="cnt-o2-stl">Last Edited on 2019-04-19</span>

        <hr>
        <span class="cnt-o2-stl">This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally identifiable information’ (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website and app.
            <br/><br/>
        </span>
    </section>
    <section>
        <span class="cl-fnt-03">
        What personal information do we collect from the people that visit our blog or website?
    </span>
        <span class="ds-cnt cnt-o2-stl">When submitting a contact form, you may be asked to enter your name, email address, phone number or other details to help us with your inquiry.<br/><br/></span>

    </section>
    <section>
        <span class="cl-fnt-03">When do we collect information?</span>
        <span class="ds-cnt cnt-o2-stl">We collect information from you when fill out a form or enter information on our site or app with the exception of banking information and social security when signing up as a Savorly cook. This information is stored by Stripe.com.</span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">How do we use your information?</span>
        <span class="ds-cnt cnt-o2-stl">We may use the information we collect from you when you use a contact form, respond to a survey or marketing communication, surf the website or app, or use certain other site features in the following ways:</span>
        <ul class="cnt-o2-stl">
            <li>To correspond directly to your comments made on our blog pages as necessary (such as questions, or people trying to contact our company)</li>
            <li>To correspond directly to any comments or questions submitted through our contact form.</li>
            <li>To administer a survey or other site feature.</li>
            <li>To review your application to become a cook.</li>
            <li>To email transaction confirmations and email marketing information.</li>
            <li>To text transaction status notifications and offers when using the app.</li>
        </ul>
    </section>
    <section>
        <span class="cl-fnt-03">How do we protect visitor information?</span>
        <span class="ds-cnt cnt-o2-stl">Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. We do not collect or store any sensitive/credit information.</span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">Do we use ‘cookies’?</span>
        <span class="ds-cnt cnt-o2-stl">Yes. Cookies are small files that a site or its service provider transfers to your computer’s hard drive through your Web browser (if you allow) that enables the site’s or service provider’s systems to recognize your browser and capture and remember certain information. For instance, we also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">We use cookies to:</span>
        <span class="ds-cnt cnt-o2-stl">Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.<br/><br/>
        You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser’s Help menu to learn the correct way to modify your cookies.<br/><br/>
        If you disable cookies off, some features will be disabled. It won’t affect the user’s experience that make your site experience more efficient and some of our services will not function properly.
    </span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">Third-party disclosure</span>
        <span class="ds-cnt cnt-o2-stl">We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. Non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.<br/><br/>
        We may also release information when its release is appropriate to comply with the law, enforce our site policies, or protect ours or others’ rights, property, or safety. By signing up as a cook in the Savorly app, you acknowledge that Savorly is required to submit the name and permit number of a MEHKO to the enforcement agency that issued the permit within two weeks if Savorly receives three or more unrelated individual food safety or hygiene complaints in a calendar year from consumers that have made a purchase through the website or app.
    </span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">Third-party links</span>
        <span class="ds-cnt cnt-o2-stl">We do not include or offer third-party products or services on our website.</span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">Google</span>
        <span class="ds-cnt cnt-o2-stl">Google, as a third-party vendor, uses cookies to track aggregate web data on our site. We along with third-party vendors, such as Google use first-party cookies (such as the Google Analytics cookies) or other third-party identifiers together to compile data regarding user interactions and functions as they relate to our website. THIS COOKIE DOES NOT IN ANYWAY IDENTIFY YOU OR GIVE ACCESS TO YOUR COMPUTER.</span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">We have implemented the following:</span>
        <ul class="cnt-o2-stl">
            <li>Google Analytics</li>
        </ul>
    </section>
    <section>
        <span class="cl-fnt-03">Opting out:</span>
        <span class="ds-cnt cnt-o2-stl">You can opt out by visiting the Network Advertising initiative opt out page or permanently using the Google Analytics Opt Out Browser add on. You can also opt out of any third-party vendor’s use of cookies by visiting www.networkadvertising.org/choices/</span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">California Online Privacy Protection Act</span>
        <span class="ds-cnt cnt-o2-stl">CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law’s reach stretches well beyond California to require a person or company in the United States (and conceivably the world) that operates websites collecting personally identifiable information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals with whom it is being shared, and to comply with this policy. – See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">According to CalOPPA we agree to the following:</span>
        <div>
            <ul class="cnt-o2-stl">
                <li>Users can visit our site anonymously.</li>
                <li>Once this privacy policy is created, we will add a link to it on our home page or as a minimum on the first significant page after entering our website.</li>
                <li>Our Privacy Policy link includes the word ‘Privacy’ and can be easily be found on the page specified above.</li>
                <li>Users will be notified of any privacy policy changes on our Privacy Policy Page.</li>
                <li>Users are able to change their personal information by emailing us.</li>

            </ul>
        </div>
    </section>
    <section>
        <span class="cl-fnt-03">How does our site handle do not track signals?</span>
        <span class="ds-cnt cnt-o2-stl">We honor do not track signals and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">Does our site allow third-party behavioral tracking?</span>
        <span class="ds-cnt cnt-o2-stl">It’s also important to note that we allow third-party behavioral tracking (e.g., Google Analytics)</span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">COPPA (Children Online Privacy Protection Act)</span>
        <span class="ds-cnt cnt-o2-stl">When it comes to the collection of personal information from children under 13, the Children’s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation’s consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children’s privacy and safety online. We do not specifically market to children under 13.</span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">Fair Information Practices</span>
        <span class="ds-cnt cnt-o2-stl">The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
        In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</span>
        <ul class="cnt-o2-stl">
            <li>We will notify the users via email within 7 business days</li>
            <li>We also agree to the Individual Redress Principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that
                individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</li>
        </ul>
    </section>
    <section>
        <span class="cl-fnt-03">CAN SPAM Act</span>
        <span class="ds-cnt cnt-o2-stl">The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations. At present we are not collecting any email addresses for any such commercial email blasts or newsletters.</span>
        <br/>
    </section>
    <section>
        <span class="cl-fnt-03">Contacting Us</span>
        <span class="ds-cnt cnt-o2-stl">If there are any questions regarding this privacy policy you may contact us using the information below.
        Meal Share LLC
        1605 W. Olympic Blvd 6th Floor</span>
        <!--<span class="st-lst-alg">hello@savorlyapp.com</span>-->
        <span><a  class="st-lst-alg" href="mailto:hello@savorlyapp.com" target="_top" rel="noopener noreferrer">hello@savorlyapp.com</a>
        </span>
        <br/><br/>
    </section>
</section>