<app-header></app-header>
<app-footer></app-footer>

<div class="hd-stl">
    <video width="100%" height="100%" [muted]="true" autoplay playsinline loop><source src="./assets/Hero_Loop_01.mp4" type="video/mp4"/></video>
</div>
<section class="fst-sct-al">
    <span class="cl-fnt-01">How to order homemade food</span>
    <span class="cl-fnt-02">Cooked by home chefs that are county permitted and Food Safety Certified</span>
</section>
<section class="container-01">
    <div class="cnt-alg-prt">
        <p><img src="./assets/browse_icon.png"></p>
        <div class="hd-cnt">Browse menus</div>
        <div class="pr-cnt">Check out hundreds of menu options</div>
    </div>
    <div class="cnt-alg-prt">
        <p><img src="./assets/woman_cook_icon-01.png"></p>
        <span class="hd-cnt">Choose a dish</span>
        <span class="pr-cnt">Order an authentic home cooked meal, always made fresh by a local cook</span>
    </div>
    <div class="cnt-alg-prt">
        <p><img src="./assets/Pot-01.png"></p>
        <span class="hd-cnt">Wait for your food</span>
        <span class="pr-cnt">The cook will prepare your food right away</span>
    </div>
    <div class="cnt-alg-prt">
        <p><img src="./assets/house_icon-01.png"></p>
        <span class="hd-cnt">Enjoy!</span>
        <span class="pr-cnt">Pick up your food directly from your neighbor</span>
    </div>
</section>
<section class="container-02">
    <img src="./assets/phone-600px.png">
    <div class="cnt-dv-prt">
        <h1>Bringing back home cooked meals</h1>
        <p>Savorly is dedicated to connecting people through food by bringing home cooking back into people’s lives, from grandma’s nostalgic recipes to authentic hard-to-find dishes. We’re on a mission to create a more connected world where cooks can share
            their meals with their hungry neighbors, and food lovers can discover delicious homemade food within their own community. Dishes you can’t find at restaurants, with a touch of love and history in every meal. People feeding people, that’s the
            power of Savorly. Download the app today and join us.</p>
    </div>
</section>
<section class="container-03">
    <div class="cl-fnt-03">
        Ready to order something home cooked?
    </div>
    <button class="btn-dsn">DOWNLOAD</button>
</section>
<section>
    <div class="img-bg-dsg">
        <img src="./assets/home-page-image-white-01.png">
    </div>
    <div class="container-04">
        <h1>Learn more about becoming a cook</h1>
        <form class="frm-inp-st">
            <input type="text" name="fname" placeholder="First Name *" value=""><br/>
            <input type="text" name="lname" placeholder="Last Name *" value=""><br/>
            <input type="text" name="email" placeholder="Email Address *" value=""><br/>
            <input type="number" name="phone" placeholder="Phone *" value=""><br/>
            <input type="text" name="zipcode" placeholder="ZipCode *" value=""><br/>
            <button class="frm-btn">Become a Cook</button>

        </form>
    </div>
</section>
<!--<section class="ft-cnt-alg">-->
<section class="container-05">
    <span class="cnt-h1-stl">See what our cooks are preparing</span>
</section>
<section class="container-06">
    <div class="cnt-alg-prt">
        <p><img class="img-cs" src="./assets/Fish-stew-carousel.png"></p>
        <div class="hd-cnt">Fish stew with rice </div>
        <div class="hd-cnt-snd">Mirana Kitchen </div>
        <div class="pr-cnt" id="alg-02-sct">Flavorful fish stew made with tomatoes and pepper</div>


    </div>
    <div class="cnt-alg-prt">
        <p><img class="img-cs" src="./assets/surf-no-turf-carousel-01.png"></p>
        <div class="hd-cnt">Surf, No Turf</div>
        <div class="hd-cnt-snd">Soul Rolls </div>
        <div class="pr-cnt" id="alg-02-sct">A light crab filled roll that will delight any palate</div>
    </div>
    <div class="cnt-alg-prt">
        <p><img class="img-cs" src="./assets/shrimp-tacos-carousel-01.png"></p>
        <div class="hd-cnt">Shrimp Tacos</div>
        <div class="hd-cnt-snd">Sunday Dinner </div>
        <div class="pr-cnt" id="alg-02-sct">Tacos! Grilled shrimp, cotija cheese, pico de gallo</div>
    </div>
</section>
<!--</section>-->