.hd-stl video {
    /*height: 50vh;*/
    position: relative;
    top: 0;
    /* width: 100%;*/
}

.vd-alg {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.vd-alg:after {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    background: black;
    opacity: 0.35;
    top: 0;
}

.cnt-alg-prt img {
    height: 100px;
    width: 100px;
}

.fst-sct-al {
    padding-top: 120px;
}

.fst-sct-al span {
    display: flex;
    justify-content: center;
}

.cl-fnt-01 {
    font-size: 3rem;
    color: #648D3C;
    font-family: 'Lato', Verdana, san-serif;
    font-weight: 400;
    word-spacing: -4.5px;
    letter-spacing: -0.5px;
}

.cl-fnt-02 {
    color: #808080;
    font-size: 1.175rem;
    font-family: 'Lato', Verdana, san-serif;
    padding-top: 20px;
}

.container-01 {
    display: flex;
    /*padding-top: 120px;*/
    padding-top: 59px;
    justify-content: space-evenly;
}

.cnt-alg-prt {
    text-align: center;
    width: 25% !important;
}

.pr-cnt {
    display: flex;
    width: 272px;
    line-height: 2.5 !important;
}

.hd-cnt {
    color: #252525;
    font-size: 11px;
    font-family: 'Lato', Verdana, san-serif;
    font-weight: 400;
    padding-bottom: 15px;
    line-height: 1.5;
}

.hd-cnt-snd {
    color: #808080;
    font-size: .875rem;
    padding-bottom: 15px;
}

.pr-cnt {
    color: #252525 !important;
    font-family: 'Lato', Verdana, san-serif;
    font-size: .875rem;
    line-height: 1.5 !important;
}

.container-02 img {
    /*height: 300px;
    width: 150px;*/
    margin-top: -121px;
    width: 273px;
    height: 478px;
}

.container-02 {
    display: flex;
    padding-left: 106px;
    /* padding-top: 250px;*/
    margin-top: 178px;
}

.cnt-dv-prt {
    padding-left: 103px;
}

.cnt-dv-prt p {
    width: 83%;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Lato', Verdana, san-serif;
    color: rgb(102, 102, 102);
    font-weight: 400;
}

.cnt-dv-prt h1 {
    font-size: 2rem;
    color: #648D3C;
    font-family: 'Lato', Verdana, san-serif;
    font-weight: 400;
    padding-top: 15px;
    word-spacing: -5.5px;
    letter-spacing: 0.5px;
}

.container-03 {
    background-color: #feea96;
    padding: 80px;
    display: flex;
    justify-content: space-evenly;
}

.cl-fnt-03 {
    font-size: 2rem;
    color: #648D3C;
    font-family: 'Lato', Verdana, san-serif;
    font-weight: 400;
    word-spacing: -4.5px;
    letter-spacing: -0.5px;
}

.btn-dsn {
    border: solid 1px #FDCD06;
    display: inline-block;
    margin: 5px 0 0 0;
    padding: 15px 75px;
    border-radius: 6px;
    white-space: nowrap;
    transition: all .4s;
    text-decoration: none;
    background-color: #648d3c;
    color: #fff;
    font-size: 16px;
}

.frm-inp-st input {
    display: flex;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 10px 30px;
    background: #fcfcfc;
    width: 100%;
    margin: 0;
    font-family: 'Lato', Verdana, san-serif;
    font-size: 13px;
    line-height: inherit;
    overflow: visible;
    padding-left: 10px;
}

.container-04 {
    position: relative;
    float: right;
    bottom: 502px;
    padding-right: 200px;
    padding-left: 200px;
}

.container-04 h1 {
    color: #648D3C;
    font-size: 1.375rem;
    font-weight: 400;
    font-family: 'Lato', Verdana, san-serif;
}

.frm-btn {
    background-color: #648d3c;
    display: inline-block;
    margin: 5px 0 0 0;
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
    margin-left: 149px;
}

.container-05 img {
    height: 300px;
    width: 150px;
}

.container-05 {
    font-size: 40px;
    color: #648D3C;
    font-weight: 400;
    font-family: 'Lato', Verdana, san-serif;
    word-spacing: -4.5px;
    letter-spacing: -0.5px;
}

.img-cs {
    width: 100% !important;
    height: 100% !important;
}

#alg-02-sct {
    /* margin-left: 65px;*/
    width: 100%;
}

.img-bg-dsg img {
    background-size: cover;
    /*background-position: center center;*/
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-image: url('../../assets/home-page-image-white-01.png');*/
}

.sct-cnt-img {
    padding-top: 0px !important;
}

.container-06 {
    display: flex;
    padding-top: 0px;
    justify-content: space-evenly;
    position: relative;
    top: 0px;
    /*width: 100%;*/
}

.ft-cnt-alg {
    /* padding-bottom: 180px;*/
    position: relative;
    /*bottom: 310px;*/
    bottom: 349px;
}

.cnt-h1-stl {
    position: relative;
    bottom: 344px;
    display: flex;
    justify-content: center;
    width: 100%;
}


/*.ld-ps-cnt {
    background-image: none !important;
    padding: 13% 0;
    overflow: hidden;
    color: #ffffff;
    background-color: #f1f7f4;
    background-position: left;
    background-size: cover;
    position: relative;
}*/

.ld-ps-cnt {
    position: relative;
    bottom: 506px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    max-width: 90%;
}

.ld-01-sct {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 100px;
}

.ld-02-sct {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 67px;
}

.ld-03-sct {
    /* color: rgb(255, 119, 15);*/
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: flex;
    width: 80%;
    margin-left: 146px;
}

.container {
    position: relative;
    bottom: 179px;
}

.hnr-fst-sct {
    display: flex;
    margin-left: 100px;
}

.hnr-01 {
    display: flex;
    font-size: 14px;
    font-family: 'Lato', Verdana, san-serif;
    color: rgb(102, 102, 102);
    font-weight: 400;
    width: 79%;
    line-height: 20px;
    padding-top: 10px;
}

.btn-dsn-ds {
    border: solid 1px #FDCD06;
    display: inline-block;
    margin: -5px 0 0 0;
    padding: 15px 18px;
    border-radius: 6px;
    white-space: nowrap;
    transition: all .4s;
    text-decoration: none;
    /*background-color: #648d3c;*/
    background: #000;
    color: #fff;
    font-size: 15px;
}

#alg-03-sct {
    margin-left: 13px;
    margin-top: 12px;
    width: 95%;
    text-align: left;
}

.pr-cnt-sect {
    display: flex;
    color: #252525 !important;
    font-family: 'Lato', Verdana, san-serif;
    font-size: 14px;
    line-height: 1.5 !important;
}

.img-cs-lv {
    width: 88% !important;
    height: 133px !important;
}

.pr-cnt-sct1 {
    display: flex;
    width: 272px;
    line-height: 2.5 !important;
    color: #252525 !important;
    font-family: 'Lato', Verdana, san-serif;
    font-size: .875rem;
    line-height: 2 !important;
    margin-left: 129px;
}

.hd-cnt-aut {
    color: #252525;
    font-size: 11px;
    font-family: 'Lato', Verdana, san-serif;
    font-weight: 400;
    padding-bottom: 15px;
    line-height: 1.5;
}