.cnt-alg-prt img {
    /*height: 250px !important;
    width: 100px;*/
    height: 250px !important;
    width: 350px !important;
}

.fst-sct-al {
    padding-top: 120px;
}

.fst-sct-al span {
    display: flex;
    justify-content: center;
}

.cl-fnt-01 {
    font-size: 2rem;
    color: rgb(58, 58, 58);
    font-family: 'Lato', Verdana, san-serif;
    font-weight: 400;
    word-spacing: -4.5px;
    letter-spacing: -0.5px;
}

.cl-fnt-02 {
    color: #808080;
    font-size: 1.175rem;
    font-family: 'Lato', Verdana, san-serif;
    padding-top: 20px;
}

.container-01 {
    display: flex;
    /*padding-top: 120px;*/
    padding-top: 30px;
    justify-content: space-evenly;
}

.cnt-alg-prt {
    text-align: center;
}

.pr-cnt {
    color: rgb(102, 102, 102) !important;
    display: flex;
    width: 272px;
    line-height: 1.5 !important;
}

.hd-cnt {
    color: #252525;
    font-size: 11px;
    font-family: 'Lato', Verdana, san-serif;
    font-weight: 400;
    padding-bottom: 15px;
    line-height: 1.5;
}

.hd-cnt-snd {
    color: #808080;
    font-size: .875rem;
    padding-bottom: 15px;
}

.pr-cnt {
    /* color: #252525 !important;*/
    font-family: 'Lato', Verdana, san-serif;
    font-size: .875rem;
}

.container-02 img {
    width: 382px;
}

.container-02 {
    display: flex;
    padding-left: 35px;
    /* margin-top: 178px;*/
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cnt-dv-prt {
    padding-left: 103px;
}

.cnt-dv-prt p {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Lato', Verdana, san-serif;
    color: rgb(102, 102, 102);
    font-weight: 400;
}

.cnt-dv-prt h1 {
    font-size: 2rem;
    color: rgb(58, 58, 58);
    font-family: 'Lato', Verdana, san-serif;
    font-weight: 400;
    padding-top: 87px;
    word-spacing: -5.5px;
    letter-spacing: 0.5px;
    line-height: 6px;
}

.container-03 {
    background-color: #feea96;
    padding: 80px;
    display: flex;
    justify-content: space-evenly;
}

.cl-fnt-03 {
    font-size: 2rem;
    color: #648D3C;
    font-family: 'Lato', Verdana, san-serif;
    font-weight: 400;
    word-spacing: -4.5px;
    letter-spacing: -0.5px;
}

.btn-dsn {
    border: solid 1px #FDCD06;
    display: inline-block;
    margin: 5px 0 0 0;
    padding: 15px 75px;
    border-radius: 6px;
    white-space: nowrap;
    transition: all .4s;
    text-decoration: none;
    background-color: #648d3c;
    color: #fff;
    font-size: 16px;
}

.frm-inp-st input {
    display: flex;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 10px 30px;
    background: #fcfcfc;
    width: 100%;
    margin: 0;
    font-family: 'Lato', Verdana, san-serif;
    font-size: 13px;
    line-height: inherit;
    overflow: visible;
    padding-left: 10px;
}

.container-04 {
    position: relative;
    float: right;
    bottom: 502px;
    padding-right: 200px;
    padding-left: 200px;
}

.container-04 h1 {
    color: #648D3C;
    font-size: 1.375rem;
    font-weight: 400;
    font-family: 'Lato', Verdana, san-serif;
}

.frm-btn {
    background-color: #648d3c;
    display: inline-block;
    margin: 5px 0 0 0;
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
    margin-left: 149px;
}

.container-05 img {
    height: 300px;
    width: 150px;
}

.container-05 {
    font-size: 40px;
    color: #648D3C;
    font-weight: 400;
    font-family: 'Lato', Verdana, san-serif;
    word-spacing: -4.5px;
    letter-spacing: -0.5px;
}

.img-cs {
    width: 100% !important;
    height: 100% !important;
}

#alg-02-sct {
    /* margin-left: 65px;*/
    width: 67%;
    text-align: left;
}

.img-bg-dsg img {
    background-size: cover;
    /*background-position: center center;*/
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-image: url('../../assets/home-page-image-white-01.png');*/
}

.sct-cnt-img {
    padding-top: 0px !important;
}

.container-06 {
    display: flex;
    padding-top: 60px;
    justify-content: space-evenly;
    position: relative;
    top: 0px;
    /*right: 27px;*/
    /*width: 100%;*/
}

.ft-cnt-alg {
    position: relative;
    bottom: 349px;
}

.cnt-h1-stl {
    position: relative;
    bottom: 344px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    position: relative;
    top: 0px;
    max-width: 1250px;
    margin: 0 auto;
}

.hnr-fst-sct {
    display: flex;
    margin-left: 100px;
}

.hnr-01 {
    display: flex;
    font-size: 14px;
    font-family: 'Lato', Verdana, san-serif;
    color: rgb(102, 102, 102);
    font-weight: 400;
    width: 79%;
    line-height: 20px;
    padding-top: 10px;
}

.btn-dsn-ds {
    border: none;
    display: inline-block;
    /*margin: -5px 0 0;*/
    padding: 13px 23px;
    border-radius: 30px;
    white-space: nowrap;
    transition: all .4s;
    text-decoration: none;
    background: radial-gradient(rgb(6, 147, 227) 0%, rgb(155, 81, 224) 0%);
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
}

#alg-03-sct {
    margin-top: 15px;
    width: 366px;
    text-align: center;
}

.pr-cnt-sect {
    display: flex;
    color: rgb(102, 102, 102);
    font-family: 'Lato', Verdana, san-serif;
    font-size: 14px;
    line-height: 1.5 !important;
}

.img-cs-lv {
    width: 100% !important;
    height: 100% !important;
}

.pr-cnt-sct1 {
    display: flex;
    width: 272px;
    line-height: 2.5 !important;
    color: #252525 !important;
    font-family: 'Lato', Verdana, san-serif;
    font-size: .875rem;
    line-height: 2 !important;
    margin-left: 155px;
}

.hd-cnt-aut {
    color: rgb(102, 102, 102);
    font-size: 11px;
    font-family: 'Lato', Verdana, san-serif;
    font-weight: 400;
    padding-bottom: 15px;
    line-height: 1.5;
    width: 90%;
}

.container-07 {
    /* display: flex;*/
    padding-top: 0px;
    padding-bottom: 100px;
    justify-content: space-evenly;
    position: relative;
    top: 0px;
    /*width: 100%;*/
}

.img-cs-07 {
    width: 35%;
}

.cnt-alg-07 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.cnt-sect-07 {
    width: 50%;
}

.stp-num {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
    line-height: 1;
    margin: 0;
    color: #dfdddd;
}

#dv-prt-07 {
    justify-content: space-between;
    margin-left: 70px;
}

#cnt-wdt-07 {
    width: 43%;
}

.wd-02 {
    width: 425px !important;
}

.hd-cnt-fnt {
    color: #252525;
    font-size: 18px;
    font-family: 'Lato', Verdana, san-serif;
    font-weight: 600;
    padding-bottom: 15px;
    line-height: 1.5;
}

.image {
    position: relative;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay {
    opacity: 1;
}

.image__overlay>* {
    transform: translateY(0);
}

.image__title {
    font-size: 100px;
    font-weight: bold;
}

.image__des {
    font-size: 20px;
    margin-top: 0.25em;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 85%;
}

.carousel-cell {
    width: 100%;
    display: flex;
}

.carousel-cell:before {
    display: block;
}

.cnt-alg-prt1 img {
    height: 100px;
    width: 100px;
}

.cnt-alg-prt1 {
    text-align: center;
    width: 40% !important;
    margin: 0 auto;
}

.carousel {
    padding-top: 80px;
}


/*@media all and (max-width:768px) {
    .image {
        padding-top: 144px;
    }
}*/

.container-06 img:hover {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media all and (max-width:768px) {
    .image {
        padding-top: 16px;
    }
    /*.image__img {
        width: 676px;
    }*/
    .container-06 {
        display: unset;
    }
    .container {
        padding-top: 7px;
    }
    .fst-sct-al span {
        width: 352px;
    }
    /*.carousel-cell {
        display: unset;
    }*/
    .image__des {
        font-size: 10px;
        /* margin-top: 13.25em;*/
    }
    .image__title {
        font-size: 20px;
    }
    /*.image__overlay {
        width: 50%;
    }*/
    .image__overlay {
        width: 50%;
        height: 92%;
        margin-top: 16px;
    }
    .fst-sct-al {
        padding-top: 35px;
    }
    .cl-fnt-01 {
        font-size: 1.5rem;
    }
    .cnt-alg-prt1 {
        width: 100% !important;
    }
    .container-02 {
        display: unset;
        padding-left: 0px;
    }
    .cnt-dv-prt {
        padding-left: 23px;
    }
    .cnt-dv-prt h1 {
        font-size: 1.5rem;
        padding-top: 0px;
    }
    .cnt-alg-07 {
        padding-top: 47px;
    }
    .stp-num {
        font-size: 40px;
    }
    /*.cnt-sect-07 {
        width: 100%;
        margin-left: 64px;
    }*/
    .img-cs-07 {
        width: 100px;
        height: 100px;
        /* padding-top: 179px;*/
        margin-top: 93px;
    }
    .hd-cnt-fnt {
        font-size: 14px;
    }
    #alg-02-sct {
        font-size: 11px;
        width: 83%;
    }
    #dv-prt-07 {
        margin-left: 29px;
    }
    #cnt-wdt-07 {
        margin-right: 35px;
    }
    .wd-02 {
        width: 185px !important;
    }
    /*.container-07 {
        padding-bottom: 298px;
    }*/
}