<app-header></app-header>
<app-footer></app-footer>

<div class="hd-stl">

    <video class="vd-alg" width="100%" height="50%" [muted]="true" poster="./assets/Hero_Loop_01.jpg" autoplay playsinline loop><source src="./assets/Hero_Loop_01.mp4" type="video/mp4"/></video>
    <div class="ld-ps-cnt">
        <span class="ld-01-sct">KookXtra</span>
        <span class="ld-02-sct">Passion of our local cooks ensures that you are never far from the traditional delicacies of an authentic home kitchen.</span>
        <span class="ld-03-sct">If you are a food lover and you want a break from the routine of cooking your meals but still want to be served a home cooked meal or you are craving for a traditional cuisine, you have found the right service because at KookXtra you get to taste the authentic recipes of our home cooks prepared with utmost quality, delivered right to your dining table.</span>
    </div>
</div>


<section class="container">


    <section class="container-06">
        <div class="cnt-alg-prt">
            <p><img class="img-cs-lv" src="./assets/Fish-stew-carousel.png"></p>
            <button class="btn-dsn-ds">HOME COOKED</button>
            <!--<div class="hd-cnt-snd">Soul Rolls </div>-->
            <div class="pr-cnt-sect" id="alg-03-sct">Your meals are cooked by your neighbours who are passionate about cooking and want to share traditional dishes that they learned from their mum or when they travelled.
                <br><br> Since it is traditional and home cooked, you will find these delicacies are not something that can be cooked in rush. Plan your meal and enjoy the local traditional dishes at the comfort of your home.</div>


        </div>
        <div class="cnt-alg-prt">
            <p><img class="img-cs-lv" src="./assets/surf-no-turf-carousel-01.png"></p>
            <button class="btn-dsn-ds" id="btn-st">NUTRITIOUS</button>
            <!--<div class="hd-cnt-snd">Soul Rolls </div>-->
            <div class="pr-cnt-sect" id="alg-03-sct">All our food are prepared with good quality ingredients, with no preservative or tinned food.
                <br/><br/> You will also be able to view the nutrition label for every dish along with the full list of ingredients. You know exactly what goes into your meal.
                <br/><br/> And we also have dashboard for you to track your nutrition intake against the recommended nutrition levels.</div>
        </div>
        <div class="cnt-alg-prt">
            <p><img class="img-cs-lv" src="./assets/shrimp-tacos-carousel-01.png"></p>
            <button class="btn-dsn-ds">READY-TO-EAT</button>
            <!--<div class="hd-cnt-snd">Sunday Dinner </div>-->
            <div class="pr-cnt-sect" id="alg-03-sct">We provide freshly cooked meals everyday delivered to your doorstep. We want to ease the process of planning your meal by providing you option to plan for 7 days, lunch and dinner which we will be delivering for you daily at a set time.
                <br/><br/> What more, you can enjoy multi-cuisine from multiple kitchen in one transaction. So, no compromise for anyone and you can have the meal together (and you pay delivery fee only once)!</div>
        </div>
    </section>
    <section class="fst-sct-al">
        <span class="cl-fnt-01">Meet Our Home Cooks</span>
        <!--<span class="cl-fnt-02">Cooked by home chefs that are county permitted and Food Safety Certified</span>-->
    </section>
    <section class="container-01">
        <div class="cnt-alg-prt">
            <p><img src="./assets/pic49-free-img.png"></p>
            <div class="hd-cnt-aut">“Hello everyone! I am Alpa from Netherlands. Being a passionate foodie, I love experimenting with various cuisines, so you can expect a variety of vegetarian dishes made with fresh ingredients. I am very much looking forward to you trying
                my food..”</div>
            <div class="pr-cnt-sct1">– Alpa</div>
        </div>
        <div class="cnt-alg-prt">
            <p><img src="./assets/pic50-free-img.png"></p>
            <span class="hd-cnt-aut">“Hi all, My name is Paul, I come from Romania but I have lived in Netherlands for over nine years now. I love food and I love cooking. I have travelled around the world and tried many different cuisines, I Have worked for many years in restaurants as a front of house representative too. Therefore, you can expect a wide variety of cuisines such as Romanian, Filipino, Italian and my favorite seafood!.”</span>
            <span class="pr-cnt-sct1">– Paul</span>
        </div>
        <div class="cnt-alg-prt">
            <p><img src="./assets/pic51-free-img.png"></p>
            <span class="hd-cnt-aut">“Hello everyone! My name is Sarah and I have been a resident of Netherlands for some time now. I am extremely passionate about my cooking. From a very young age I Have been inspired by my grandmother’s Caribbean recipes mixed with my English culture! So I introduce to you a mixture of Caribbean and English cuisine. Extremely mouth watering, providing you with finest food full of flavor and made with absolute love. I look forward to sharing my flavors with you all!”</span>
            <span class="pr-cnt-sct1">– Sarah</span>
        </div>
        <!--<div class="cnt-alg-prt">
            <p><img src="./assets/house_icon-01.png"></p>
            <span class="hd-cnt">Enjoy!</span>
            <span class="pr-cnt">Pick up your food directly from your neighbor</span>
        </div>-->
    </section>
    <section class="container-02">
        <img src="./assets/home_cook.jpg">
        <div class="cnt-dv-prt">
            <h1>Our promise to Home Cooks</h1>
            <p>We strongly value great quality and high standards of hygiene during food preparation.<br/><br/> All registered home cooks undergo a full onboarding process where we train them about the platform and its usage but most importantly we use the
                onboarding process to educate them on maintaining top rated food quality and hygiene. We at all times ensure that our Home Cooks have:</p>
        </div>
    </section>

    <!--<section class="container-06">
        <div class="cnt-alg-prt">
            <p><img class="img-cs" src="./assets/Fish-stew-carousel.png"></p>
            <div class="hd-cnt">A proper kitchen setup </div>
            
            <div class="pr-cnt" id="alg-02-sct">All our home cooks receive a visit from the KookXtra officer to help them set up a proper, safe and workable kitchen. We also provide a start-up kit to our home cooks which has all the necessary items for proper cooking </div>


        </div>
        <div class="cnt-alg-prt">
            <p><img class="img-cs" src="./assets/surf-no-turf-carousel-01.png"></p>
            <div class="hd-cnt">Knowledge of Food hygiene</div>
           
            <div class="pr-cnt" id="alg-02-sct">During the Cook on-boarding process KookXtra Hygiene and safety officer train the home cooks on HACCP guidelines around food hygiene and quality parameters. This ensures that the home cooks prepare food with utmost quality.</div>
        </div>
        <div class="cnt-alg-prt">
            <p><img class="img-cs" src="./assets/shrimp-tacos-carousel-01.png"></p>
            <div class="hd-cnt">First time Food Tasting session</div>
            
            <div class="pr-cnt" id="alg-02-sct">Undergo food tasting session during which our friendly food evangelist and bloggers try the food and give their feedback. This helps our home cooks to make any needed changes to their recipe to appeal to our consumers.</div>
        </div>
    </section>-->
    <section class="container-07">
        <div class="cnt-alg-07">
            <div class="cnt-sect-07">
                <div class="stp-num">01</div>
                <div class="hd-cnt-fnt">A proper kitchen setup </div>

                <div class="pr-cnt" id="alg-02-sct">All our home cooks receive a visit from the KookXtra officer to help them set up a proper, safe and workable kitchen. We also provide a start-up kit to our home cooks which has all the necessary items for proper cooking </div>

            </div>
            <img class="img-cs-07" src="./assets/Fish-stew-carousel.png">
        </div>

        <div class="cnt-alg-07" id="dv-prt-07">

            <img class="img-cs-07" src="./assets/surf-no-turf-carousel-01.png">
            <div class="cnt-sect-07" id="cnt-wdt-07">
                <div class="stp-num">02</div>
                <div class="hd-cnt-fnt">Knowledge of Food hygiene</div>

                <div class="pr-cnt wd-02" id="alg-02-sct">During the Cook on-boarding process KookXtra Hygiene and safety officer train the home cooks on HACCP guidelines around food hygiene and quality parameters. This ensures that the home cooks prepare food with utmost quality.</div>
            </div>
        </div>


        <div class="cnt-alg-07">
            <div class="cnt-sect-07">
                <div class="stp-num">03</div>
                <div class="hd-cnt-fnt">First time Food Tasting session</div>

                <div class="pr-cnt" id="alg-02-sct">Undergo food tasting session during which our friendly food evangelist and bloggers try the food and give their feedback. This helps our home cooks to make any needed changes to their recipe to appeal to our consumers.</div>
            </div>
            <img class="img-cs-07" src="./assets/shrimp-tacos-carousel-01.png">
        </div>


    </section>
</section>